# Data Matching

A major topic of ETL is string matching and data matching. While string matching returns a simularity score between two strings, data matching returning a simularity between two two tuples (rows) in a database. For example, we would like to determine whether the tuples `(David Smith, 608-245-4367, Madison WI)` and `(D. M. Smith, 245-4367, Madison WI)` refer to the same person.

The problem of data matching arises in many integration situations. In the simplest case, we may be merging multiple databases with identical schemas, but without a unique global ID, and want to decide which rows are duplicates. The problem is complicated when we need to join rows from sources that have different schemas. Data matching may also arise at query time. For example, a query may often imprecisely refer to a particular data item, e.g., a query asking for the phone number of a David Smith who lives in Madison. We need to employ data matching techniques to decide which tuples in the database match the query.

In this project, we will complete a cross-dataset join across two terrorism databases w/ differnent schemas: GTD and GDELT.

## Techniques

We cover several classes of solutions to the data matching problem. The first kind employs handcrafted rules, or **Rule-based Matching** to match tuples. These techniques typically make heavy use of domain-specific knowledge in domains where the complexity of the rules is manageable. The next kind of solution, **Learning-based Matching** learns the appropriate rules from labeled examples, using supervised learning. The third kind, **clustering** does not use training data. Instead, it iteratively assigns tuples to clusters, such that all tuples within a single cluster match and those across clusters do not.

In [1]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

## Data

Load the two datasets

In [2]:
gtd=pd.read_excel("data/gtd_12to15_0616dist.xlsx")

In [3]:
headers = pd.read_excel("data/GDELT Metadata.xlsx").columns.values
gdelt = pd.read_csv("data/20150108.export.txt", delimiter="\t", names=headers)

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (8,9,10,11,14,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Cleaning

Remove tuples where lat/lng or date is na

In [65]:
gtd = gtd.dropna(subset=['latitude', 'longitude', 'iday'])

## Common Years

The two datasets intersect for years 2014-2015

In [4]:
gtd.iyear.value_counts()

2014    16840
2015    14806
2013    11990
2012     8498
Name: iyear, dtype: int64

In [5]:
gdelt.Year.value_counts()

2015    159954
2014      2792
2005        44
Name: Year, dtype: int64

The years in GDLET are distributed strangly:

In [6]:
gdelt.Day.value_counts()

20150108    157419
20140108      1822
20150107      1445
20141209       970
20150101       774
20150109       316
20050110        44
Name: Day, dtype: int64

In [7]:
set(gtd.iyear).intersection(set(gdelt.Year))

{2014, 2015}

Filter for 2015

In [72]:
#limit query to year 2015 b/c both datasest have full 2015 data
gtdf = gtd[(gtd.iyear==2015) | (gtd.iyear==2014)]
gdeltf=gdelt[(gdelt.Year==2015) | (gdelt.Year==2014)].sample(500) #sampling a subset of the data for fast testing

# Rule-Based Matching

## Common Columns

We need to define the mapping between the columns that are in common between the two datasets.

I could only identify 2 columns that map GTD to GDELT. Key is GTD column Value is GDELT column

* iyear/imonth/iday : Day - convert to int seconds and measure euclidian distance
* latitude/longitude : ActionGeo_Lat/ActionGeo_Long - convert to 2D vector and measure euclidian distance

# Simularity Metric

We begin by covering approaches that employ handcrafted matching rules. A simple yet popular type of rule computes the similarity score between a pair of tuples $x$ and $y$ as a *linearly weighted combination* of the individual similarity scores:

$$
\DeclareMathOperator*{\argmax}{\arg\!\max}\\
sim(x, y) = \sum_{i=1}^n \alpha_i sim_i(x,y)\\
match(GTD, GDELT) = \argmax(sim(GTD_n, GDELT))\\
$$

where $n$ is the number of common coloumns between tables $X$ and $Y$ (in this case 2), $s_i(x,y) ∈ [0,1]$ is a similarity score between the $i$th attributes of $x$ and $y$, and $\alpha_i ∈ [0, 1]$ is a prespecified weight that indicates the importance of the $i$th attribute to the overall similarity score, such that 􏰈$\Sigma_{i=1}^n \alpha_i = 1$. We declare $x$ and $y$ matched if $sim(x,y) ≥ β$ for a prespecified threshold $β$, and not matched otherwise.

## Python Implementation

### Lat/Lng

First we take each lat/lng and put them in a 2D vector format so we can take the euclidian disantace.

### Date

We take the date data from each touple and put it in native python `datetime` format. Then we convert each `datetime` into an integer representing the seconds from the epoch. We can then take the euclidian distance between two `datetimes`.

## Computational Complexity

This routine is a loop in a loop: O(n^2) growth complexity with 5,150,259,916 computations to run if we limit search to 2014-2015.

In [9]:
print (gtdf.shape, gdeltf.shape)
gtdf.shape[0] * gdeltf.shape[0]

((31646, 137), (1000, 58))

31646000

In [36]:
#python implemention of the sim function above w/ 2 matching rules for lat/lng and date
#arguments are pandas series (row) from each database
def sim(target, match):
    score = 0

    #latlng
    target_latlng = np.array(target[["latitude", "longitude"]].values)
    match_latlng = np.array(match[["ActionGeo_Lat", "ActionGeo_Long"]].values)
    dist = sim_latlng(target_latlng, match_latlng)
    score += (W_LATLNG * dist)
    
    #date
    target_date_parts = target[["iyear", "imonth", "iday"]].values
    target_date = datetime.datetime(target_date_parts[0], target_date_parts[1], target_date_parts[2])
    target_seconds = int(target_date.strftime("%s")) #seconds from epoch
    match_date = datetime.datetime.strptime(str(match[["Day"]][0]), "%Y%m%d")
    match_seconds = int(match_date.strftime("%s")) #seconds from epoch
    date_dist = sim_date(target_seconds, match_seconds)
    score += (W_DATE * date_dist)
    
    return score

In [37]:
#define lat/lng sim function
#expect 2 1x2 numpy arrays
def sim_latlng(a,b):
    dist = numpy.linalg.norm(a-b)
    sim = 1 / (1 + dist)
    return sim

In [38]:
#try to match on date
#2  integers represeignn seconds from th epoch
def sim_date(a,b):
    dist = numpy.linalg.norm(a-b)
    sim = 1 / ( 1 + dist )
    #sim = 1/exp(dist)
    return sim

In [39]:
#utiltiy method to print match result
def print_table(gtd, gdelt, score):
    gtd_vals=[]
    gdelt_vals=[]
    
    #latlng
    gtd_vals.append(gtd[["latitude", "longitude"]].values)
    gdelt_vals.append(gdelt[["ActionGeo_Lat", "ActionGeo_Long"]].values)
    
    #date
    target_date_parts = gtd[["iyear", "imonth", "iday"]].values
    gtd_vals.append(datetime.datetime(target_date_parts[0], target_date_parts[1], target_date_parts[2]))
    gdelt_vals.append(datetime.datetime.strptime(str(gdelt[["Day"]][0]), "%Y%m%d"))
    
    #ids 
    gtd_vals.append(gtd.eventid)
    gdelt_vals.append(gdelt.GlobalEventID)
    
    t_dict = {"0cols": ["lat/lng", "date", "id"], "1GTD": gtd_vals, "GDELT": gdelt_vals, "Score": score}
    df = pd.DataFrame(t_dict)
    return df

## Results

Here we iterate thought our targets in GTD and then compare against each candidate match in GDELT and return the closest match. A match is defined as the highest score which is computed by `nanargmax` below. We can also configure our weights here too:

In [165]:
# %%time

#weights should sum to 1
W_LATLNG=0.5
W_DATE=0.5

# threshold (beta)
THRESHOLD = 0.3

#choose what tuples of GTD you want to match against
targets = gtdf.sample(500)
matches = {}

for _, target in targets.iterrows(): 
    scores = []
    for _, row in gdeltf.iterrows():
        score = sim(target, row)
        scores.append(score)

    i = np.nanargmax(scores)
    high_score = scores[i]
    #if above thershold, consider match
    if high_score >= THRESHOLD:
        match = gdeltf.iloc[i]
        matches[target.eventid] = (high_score, match.GlobalEventID)
    else:
        matches[target.eventid] = (None, None)
        pass

## Report

Print out top 200 matches by score

In [161]:
sorted_matches = sorted(matches.items(), key=lambda x: x[1][0], reverse=True)
top200 = sorted_matches[0:200]

In [164]:
gtdids= zip(*top200)[0]; scores = zip(*zip(*top200)[1])[0]; gdeltids=zip(*zip(*top200)[1])[1]
report = pd.DataFrame({"GTD": gtdids, "Scores": scores, "GDELT": gdeltids})
report [["GTD", "Scores", "GDELT"]]

             GTD    Scores      GDELT
0   201501080044   0.79047  331086010
1   201402040024  0.498219  331102903
2   201503200010  0.496556  331148729
3   201401270026  0.494605  331069193
4   201405190045  0.493954  330998638
5   201412040001  0.491366  331073827
6   201409210036  0.489861  331148729
7   201408260087  0.470348  331104369
8   201401090010  0.470348  331104369
9   201401160046  0.461567  331073827
10  201412130001  0.461166  331073827
11  201512080013  0.459884  331073827
12  201402030049  0.458959  331102903
13  201409170069  0.448545  331073827
14  201505220025  0.438049  331102903
15  201407200035  0.429032  331060534
16  201502030096  0.426164  331103981
17  201408250022  0.400668  331060534
18  201412240033  0.395235  331011488
19  201502100001  0.390711  331073827
20  201503050003  0.390703  331073827
21  201409300040  0.374212  331073827
22  201412210034  0.331051  331073827
23  201405160027  0.325327  331073827
24  201511100001  0.320333  331134446
25  201402250072  0.304674  331102903
26  201505020095  0.301707  331073827
27  201411160018  0.301182  331073827
28  201402220032      None       None
29  201503020038      None       None
..           ...       ...        ...
70  201511180052       NaN        NaN
71  201409270049       NaN        NaN
72  201510270001       NaN        NaN
73  201402270016       NaN        NaN
74  201408200013       NaN        NaN
75  201505250019       NaN        NaN
76  201505290069       NaN        NaN
77  201502260054       NaN        NaN
78  201507060063       NaN        NaN
79  201503070054       NaN        NaN
80  201412020072       NaN        NaN
81  201512220020       NaN        NaN
82  201507230071       NaN        NaN
83  201502130040       NaN        NaN
84  201512070022       NaN        NaN
85  201405040015       NaN        NaN
86  201504200080       NaN        NaN
87  201502110098       NaN        NaN
88  201408050079       NaN        NaN
89  201408090020       NaN        NaN
90  201510300069       NaN        NaN
91  201511110066       NaN        NaN
92  201403140021       NaN        NaN
93  201405210055       NaN        NaN
94  201505030097       NaN        NaN
95  201409070051       NaN        NaN
96  201512110058       NaN        NaN
97  201511020013       NaN        NaN
98  201407170030       NaN        NaN
99  201407020018       NaN        NaN

[100 rows x 3 columns]